.btn {
  background: linear-gradient(to bottom right, #8F12FD, #4294E3);
  color: #F0F6FF;
  cursor: pointer;
  padding: 15px 50px;
  border: none;
  border-radius: 30px;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.1rem;
  text-transform: capitalize;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px;
  transition: 1s ease;
}
.btn:hover {
  background: linear-gradient(to top left, #8F12FD, #4294E3);
}

.t1 {
  background: linear-gradient(to top left, #8F12FD, #4294E3);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.t2 {
  color: #222;
}

* {
  scroll-behavior: smooth;
  border: none;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
* ul {
  list-style: none;
  margin: 0;
}
* a {
  text-decoration: none;
}

.home-page {
  background: url(../img/bg-circle.png), url(../img/bg-triangle.png), url(../img/bg-bottom.png), linear-gradient(to bottom right, #4294E3, #8F12FD);
  background-position: left 0px top 0px, right 0px top 50%, center bottom;
  background-size: auto, auto, contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.home-page .nav-bar {
  padding: 20px 0;
}
.home-page .nav-bar .nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.home-page .nav-bar .nav a {
  color: #F0F6FF;
  text-transform: capitalize;
}
.home-page .nav-bar .nav .nav-barnd {
  font-size: 3.3rem !important;
  font-weight: bolder !important;
}
.home-page .nav-bar .nav ul {
  display: flex;
  gap: 20px;
  align-content: center;
  flex-wrap: wrap;
}
.home-page .nav-bar .nav ul a {
  margin: 0 10px;
  font-size: 1.4rem;
}
.home-page .nav-bar .nav .nav-icoin {
  margin-right: 30px;
}
.home-page .nav-bar .nav .nav-icoin i {
  font-size: 2.4rem;
  display: none;
}
.home-page .landing {
  color: #F0F6FF;
}
.home-page .landing .landing-container {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  margin: 70px;
}

.landing-item {
  position: relative;
  text-align: center;
}
.landing-item > img {
  z-index: 3;
  position: relative;
}
.landing-item h1,
.landing-item p {
  margin: 1.5rem 0 !important;
}
.landing-item h1 {
  line-height: 1.6;
}
.landing-item h1 .text-change {
  font-size: 3.3rem;
  text-transform: capitalize;
  font-style: italic;
  font-weight: 100;
  position: relative;
}
.landing-item h1 .text-change::before {
  content: "";
  position: absolute;
  right: -10px;
  height: 100%;
  width: 7px;
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
  animation: opacity infinite 0.6s;
}
.landing-item p {
  line-height: 1.4;
}
.landing-item .btn {
  display: inline-block;
  margin-left: 10px;
}

.screan-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.screan-img > img {
  height: 470px;
}

/* about */
.about .about-container {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  margin: 70px;
}
.about .about-container .about-text h3 {
  background: linear-gradient(to top left, #8F12FD, #4294E3);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about .about-container .about-text h1 {
  color: #262B47;
}
.about .about-container .about-text p {
  margin: 20px;
  line-height: 30.4px;
  color: rgba(34, 34, 34, 0.5411764706);
}
.about .about-container .about-text .boxes-count {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
  margin: 20px 0;
}
.about .about-container .about-text .boxes-count .box-count {
  display: flex;
  gap: 5px;
  align-items: center;
}
.about .about-container .about-text .boxes-count .box-count i {
  color: #4294E3;
}
.about .about-container .about-text .boxes-count .box-count .p-box-count {
  text-align: center;
}
.about .about-container .about-text .boxes-count .box-count .p-box-count h1 {
  background: linear-gradient(to bottom right, #8F12FD, #4294E3);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about .about-container .about-text .boxes-count .box-count .p-box-count h2 {
  background: linear-gradient(to top left, #8F12FD, #4294E3);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* feature */
.feature {
  margin-top: 4rem;
}
.feature .feature-container {
  display: block;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  margin: 70px;
  text-align: center;
}
.feature .feature-container .boxes-f {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 60px;
  margin: 60px 0;
  padding: 20px;
  overflow: hidden;
}
.feature .feature-container .boxes-f .box-f {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 2.3rem;
  background-color: #F0F6FF;
  border-radius: 15px;
  transform: translatey(400%);
}
.feature .feature-container .boxes-f .box-f i {
  width: 60px;
  height: 60px;
  font-size: 1.9rem;
  margin: 20px;
  display: grid;
  place-items: center;
  background: linear-gradient(to top left, #8F12FD, #4294E3);
  border-radius: 50%;
  color: #F0F6FF;
}
.feature .feature-container .boxes-f .box-f .b-t {
  font-size: 1.9rem;
}
.feature .feature-container .boxes-f .box-f p {
  margin: 10px 0;
  color: rgba(34, 34, 34, 0.5411764706);
}

/* scrernshot */
.Screenshot .Screenshot-container {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  margin: 70px;
  overflow: hidden;
}
.Screenshot .Screenshot-container .s-item {
  transform: translateX(-400%);
}
.Screenshot .Screenshot-container .s-item .t2 {
  font-size: calc(1.375rem + 1.5vw);
}
.Screenshot .Screenshot-container .s-item p {
  color: rgba(34, 34, 34, 0.54);
  word-break: break-word;
  line-height: 2.3;
  white-space: pre-line;
}
.Screenshot .Screenshot-container .s-item .rights h2 {
  color: rgba(34, 34, 34, 0.54);
  margin: 15px 0;
  font-size: 1.3rem;
  font-weight: 200;
}
.Screenshot .Screenshot-container .s-item .rights h2 i {
  background: linear-gradient(to bottom right, #8F12FD, #4294E3);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0px 10px;
}
.Screenshot .Screenshot-container .s-item:last-of-type {
  transform: translateX(400%);
}

.s-item {
  transform: translateX(-400%);
}

.contact {
  text-align: center;
}
.contact .contact-container {
  position: relative;
  text-align: center;
  display: flex;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  margin: 70px;
  flex-direction: column;
}
.contact .contact-container input {
  height: 20px;
  width: 70%;
  padding: 20px;
  border: 1.5px solid #ced4da;
  font-size: 1.1rem;
  transition: 500ms all ease;
  margin: 5px 0;
  border-radius: 10px;
}
.contact .contact-container input:last-of-type {
  height: 70px;
}

/* works */
.works .works-container {
  display: block;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  margin: 70px;
  text-align: center;
}
.works .works-container .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin: 8rem 0;
}
.works .works-container .row .col {
  padding: 30px;
  background: #F0F6FF;
  border-radius: 20px;
  position: relative;
  transform: translatey(500%);
  opacity: 0;
}
.works .works-container .row .col:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 6px 24px 0px;
}
.works .works-container .row .col i {
  background: linear-gradient(to bottom right, #8F12FD, #4294E3);
  color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 4rem;
  display: grid;
  place-items: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -64px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.works .works-container .row .col h2 {
  font-size: 1.4rem;
  margin: 40px 0 10px;
}
.works .works-container .row .col p {
  font-size: 0.9rem;
  line-height: 2;
  color: #919294;
}

/* footer */
footer {
  padding: 100px 0;
  margin-top: 10rem;
  background: url(../img/bg-circle.png), url(../img/bg-triangle.png), url(../img/bg-top.png), linear-gradient(to bottom right, #4294E3, #8F12FD);
  background-position: left 0px bottom 0px, right 0px top 90%, center top;
  background-size: auto, auto, contain;
  background-repeat: no-repeat;
}
footer .footer-container {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
  margin: 70px;
  margin-top: 100px !important;
}
footer .footer-container ul {
  color: #fff;
  padding: 10px 25px;
  overflow: hidden;
}
footer .footer-container ul h1 {
  font-size: calc(1.275rem + 0.3vw);
}
footer .footer-container ul h1 span {
  margin: 0 5px;
}
footer .footer-container ul li {
  cursor: pointer;
  margin: 10px 0;
  transition: 300ms ease all;
  position: relative;
}
footer .footer-container ul li::before {
  content: "";
  position: absolute;
  left: -22px;
  top: 50%;
  width: 10px;
  height: 10px;
  background: #fff;
  transform: translateY(-50%);
}
footer .footer-container ul li:hover {
  letter-spacing: 1px;
}
footer .footer-container ul p {
  margin: 10px 0;
}
footer .footer-container ul input {
  width: 80%;
  height: 40px;
  margin: 10px;
  padding: 5px;
  border-radius: 30px;
  font-size: 1rem;
}

.contact-input {
  transform: translateY(900%) !important;
}

/* tablat screen */
@media (max-width: 1000px) {
  .home-page {
    background-size: auto, auto, auto;
    overflow: hidden;
  }
  .landing-container,
  .about-container,
  .Screenshot-container {
    flex-direction: column !important;
  }
  .footer-container {
    flex-wrap: wrap !important;
  }
  .home-page .nav-bar .nav ul {
    display: none;
  }
  .nav-icoin .fa-bars {
    display: inline-block !important;
  }
  .about-img img {
    width: 100% !important;
  }
  .boxes-f {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(3, 1fr) !important;
  }
  input {
    width: 100% !important;
  }
  .feature-container {
    margin: 30px 0px !important;
  }
  .works .works-container .row {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
/* phones */
@media (max-width: 600px) {
  .home-page .nav-bar .nav {
    justify-content: space-between;
  }
  .home-page .nav-bar .nav .nav-barnd {
    margin-left: 10px;
  }
  .boxes-f {
    display: grid;
    grid-template-columns: repeat(1, 1fr) !important;
    grid-template-rows: repeat(4, 1fr) !important;
  }
  .box-f {
    transform: translatex(400%) !important;
  }
  .landing-container,
  .about-container,
  .Screenshot-container,
  .footer-container,
  .works-container {
    margin: 20px !important;
  }
  .contact-container {
    margin: 35px !important;
  }
  .landing-item h1 .text-change {
    font-size: 3rem;
  }
  footer .footer-container ul {
    width: 77% !important;
  }
  .works .works-container .row {
    gap: 7rem;
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
/* pusa class */
.d-none {
  display: none !important;
}

.d-inline {
  display: inline-block !important;
}

.active {
  background: linear-gradient(to top left, #8F12FD, #4294E3);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bolder;
}

input {
  outline: none;
}

.toggle-ul {
  position: absolute;
  top: 5.5rem;
  z-index: 10;
  right: 10%;
  text-align: center;
  flex-direction: column;
  display: flex !important;
  gap: 1px !important;
}
.toggle-ul li {
  background-color: #F0F6FF !important;
  padding: 20px 0;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transform: rotateX(90deg);
  opacity: 0;
}
.toggle-ul li:nth-child(1) {
  animation: rotateX 400ms ease forwards;
  animation-delay: 100ms;
}
.toggle-ul li:nth-child(2) {
  animation: rotateX 400ms ease forwards;
  animation-delay: 200ms;
}
.toggle-ul li:nth-child(3) {
  animation: rotateX 400ms ease forwards;
  animation-delay: 300ms;
}
.toggle-ul li:nth-child(4) {
  animation: rotateX 400ms ease forwards;
  animation-delay: 400ms;
}
.toggle-ul li:nth-child(5) {
  animation: rotateX 400ms ease forwards;
  animation-delay: 500ms;
}
.toggle-ul li:nth-child(6) {
  animation: rotateX 400ms ease forwards;
  animation-delay: 600ms;
}
.toggle-ul li a {
  color: #262B47 !important;
}

.frxed-nav {
  background: #f1f1f1;
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  padding: 11px 0 !important;
  transition: 500ms ease all;
}
.frxed-nav a {
  color: #222 !important;
}
.frxed-nav .nav-barnd {
  background: linear-gradient(to bottom right, #8F12FD, #4294E3);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.no-shadow {
  transition: 500ms ease !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-top: -15px;
}

@keyframes rotateX {
  to {
    transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes opacity {
  60% {
    opacity: 0;
  }
}
.show-box:nth-child(1) {
  transform: translate(0%, 0%) !important;
  transition: 500ms ease;
  opacity: 1 !important;
}

.show-box:nth-child(2) {
  transform: translate(0%, 0%) !important;
  transition: 1000ms ease;
  opacity: 1 !important;
}

.show-box:nth-child(3) {
  transform: translate(0%, 0%) !important;
  transition: 1500ms ease;
  opacity: 1 !important;
}

.show-box:nth-child(4) {
  transform: translate(0%, 0%) !important;
  transition: 2000ms ease;
  opacity: 1 !important;
}

.show-box:nth-child(5) {
  transform: translate(0%, 0%) !important;
  transition: 2500ms ease;
  opacity: 1 !important;
}

.show-box:nth-child(6) {
  transform: translate(0%, 0%) !important;
  transition: 3000ms ease;
  opacity: 1 !important;
}/*# sourceMappingURL=style.css.map */