$primary: #4294E3;
$secondary: #8F12FD;
$light: #F0F6FF;
$dark: #262B47;
$r-dark: #2222228a;
$transation: 400ms all ease;
$linearn-bg: linear-gradient(to bottom right, $secondary, $primary);
$r-linear-bg: linear-gradient(to top left, $secondary, $primary);
$primary-maegin: 70px;

@mixin linerbtn($background) {
    background: $background;
    color: $light;
    cursor: pointer;
    padding: 15px 50px;
    border: none;
    border-radius: 30px;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.1rem;
    text-transform: capitalize;
    width: fit-content;
    margin: 10px
}

@mixin bg-text($color) {
    background: $color;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin container($d) {
    display: $d;
    gap: 30px;
    justify-content: space-around;
    align-items: center;
    margin: $primary-maegin;
}
   

.btn {
    @include linerbtn($linearn-bg);
    transition: 1s ease all !important;
  
}
  .btn:hover{
    background:$r-linear-bg;
    }
.t1{
    @include bg-text($r-linear-bg)
}
 .t2 {
        color: #222;
    }

* {
    scroll-behavior: smooth;
    border: none;
    margin: 0;
    padding: 0;

    ul {
        list-style: none;
        margin: 0;
    }

    a {
        text-decoration: none;
    }

    font-family: 'Ubuntu',
    sans-serif;
}

.home-page {

    background: url(../img/bg-circle.png), url(../img/bg-triangle.png), url(../img/bg-bottom.png), linear-gradient(to bottom right, $primary, $secondary);
    background-position: left 0px top 0px, right 0px top 50%, center bottom;
    background-size: auto, auto, contain;
    background-repeat: no-repeat;
    min-height: 100vh;

    .nav-bar {
        padding: 20px 0;

        .nav {
            display: flex;
            justify-content: space-around;
                align-items: center;
            gap: 20px;

            a {
                color: $light;
                text-transform: capitalize;
            }

            .nav-barnd {
                font-size: 3.3rem !important;
                font-weight: bolder !important;

            }

            ul {
                display: flex;
                gap: 20px;
                align-content: center;
                flex-wrap: wrap;

                a {
                    margin: 0 10px;
                    font-size: 1.4rem;
                }
            }

            .nav-icoin {
                margin-right: 30px;
                i {
                    font-size: 2.4rem;
                    display: none;
                }
            }

        }
    }

    .landing {
        color: $light;
        .landing-container {
            @include container(flex);
        }
    }

}

            .landing-item {
                position: relative;
                text-align: center;
   
                > img {
                    z-index: 3;
                    position: relative;
                }

                h1,
                p {
                    margin: 1.5rem 0 !important;
                }

                h1 {
                    line-height: 1.6;
                    .text-change{
                            font-size: 3.3rem;
                            text-transform: capitalize;
    font-style: italic;
    font-weight: 100;
    position: relative;
    &::before{
           content: "";
    position: absolute;
    right: -10px;
    height: 100%;
    width: 7px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    animation: opacity infinite .6s;

    }
                    }
                 
                }

                p {
                    line-height: 1.4;
                }

                .btn {
                    display: inline-block;
                    margin-left: 10px
                }
            }
   .screan-img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    z-index: 1;

                    > img {
                        height: 470px;
                    }
                }

/* about */
.about {
    .about-container {
        @include container(flex);

        .about-text {
         
h3{
    @include bg-text($r-linear-bg)
}
            h1 {
                color: $dark;
            }

            p {
                margin: 20px;
                line-height: 30.4px;
                color: $r-dark;
            }

            .boxes-count {
                display: flex;
                justify-content: center;
                gap: 60px;
                flex-wrap: wrap;
                margin: 20px 0;

                .box-count {
                    display: flex;
                    gap: 5px;
                    align-items: center;

                    i {
                        color: $primary;
                    }

                    .p-box-count {
                        text-align: center;
h1{
    @include bg-text($linearn-bg)
}
                        h2 {
                            @include bg-text($r-linear-bg)
                        }
                    }
                }
            }
        }
    }
}

/* feature */
.feature{
    margin-top:4rem ;
.feature-container {
    @include container(block);
    text-align: center;

   

    .boxes-f {
        display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 30px;
grid-row-gap: 60px;
        margin: 60px 0;
        padding: 20px;
        overflow: hidden;
        .box-f {
            display: inline-flex;
            flex-direction: column;
            align-items:center;
            padding: 2.3rem;
            background-color: $light;
            border-radius:15px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    transform: translatey(400%);
            i {
                width: 60px;
                height: 60px;
                font-size: 1.9rem;
                margin: 20px;
                display: grid;
                place-items: center;
                background: $r-linear-bg;
                border-radius: 50%;
                color:$light
            }
            .b-t{
                font-size: 1.9rem;
            }
            p{
                margin: 10px 0;
                color:$r-dark;
            }
        }
    }
}}
/* scrernshot */
.Screenshot{
    .Screenshot-container{
        @include container(flex);
        overflow: hidden;
      
        .s-item{
                transform: translateX(-400%);
            .t2{
                    font-size: calc(1.375rem + 1.5vw);
            }
     p{
            color:rgb(34 34 34 / 54%);
            word-break: break-word;
    line-height: 2.3;
    white-space: pre-line;
            
        }
        .rights{
h2{
            color:rgb(34 34 34 / 54%);
            margin: 15px 0;
            font-size: 1.3rem;
                font-weight: 200;
            i{
                @include bg-text($linearn-bg);
            margin: 0px 10px;

            }


}
        }
        }
   
        .s-item:last-of-type{
                transform: translateX(400%) ;

        }
    }
}
.s-item{
                transform: translateX(-400%);}
              .contact{
                .contact-container{
                    position: relative;
                    text-align:center;
                    @include container(flex);
                    flex-direction:column;
    
input{
  height: 20px;
    width: 70%;
    padding: 20px;
    border: 1.5px solid #ced4da;
    font-size: 1.1rem;
        transition: 500ms all ease;
        margin: 5px 0;
        border-radius:10px;
   
    &:last-of-type{
  height: 70px;
    }
   
}
                }
              }  
  
    /* footer */
    footer{
        padding: 100px 0;
        margin-top: 10rem;
     background: url(../img/bg-circle.png), url(../img/bg-triangle.png), url(../img/bg-top.png), linear-gradient(to bottom right, $primary, $secondary);
    background-position: left 0px bottom 0px, right 0px top 90%, center top;
    background-size: auto, auto, contain;
    background-repeat: no-repeat;
        .footer-container{
                    @include container(flex);
                    margin-top: 100px !important;
ul{
color: #fff;
padding: 10px 25px;
overflow: hidden;
h1{
        font-size: calc(1.275rem + 0.3vw);
        span{
            margin:  0 5px;
        }
}
li{
        cursor: pointer;
    margin: 10px 0;
        transition: 300ms ease all;
        position: relative;
        &::before{
      content: "";
    position: absolute;
    left: -22px;
    top: 50%; 
    width: 10px;
    height: 10px;
    background: #fff;
    transform: translateY(-50%);
            
        }
        &:hover{
    letter-spacing: 1px;
        }
}
p{
    margin: 10px 0;
    
}
input{
        width: 80%;
    height: 40px;
    margin: 10px;
    padding: 5px;
    border-radius: 30px;
    font-size: 1rem;
}
}
        }
    }
     .contact-input{
    transform: translateY(900% ) !important;
    }
/* tablat screen */
@media (max-width: 1000px) {
    .home-page {
        background-size: auto, auto, auto;
        overflow: hidden;
    }

    .landing-container,
    .about-container,
     .Screenshot-container {
        flex-direction: column !important;
    }
    .footer-container{
        flex-wrap: wrap !important;
    }

    .home-page .nav-bar .nav ul {
        display: none;
    }
    .nav-icoin {
          .fa-bars{
            display: inline-block !important;
        }
            }

    .about-img {
        img {

            width: 100% !important;
        }
    
    }
    
    .boxes-f {
        display: grid;
grid-template-columns: repeat(2, 1fr) !important;
grid-template-rows: repeat(3, 1fr) !important;
}
input{
    width: 100% !important;
  
    }
    .feature-container{
       margin: 30px 0px !important;
     }
}
/* phones */
@media (max-width: 600px) {
    .home-page .nav-bar .nav {
    justify-content: space-between;
}
.home-page .nav-bar .nav .nav-barnd {
    margin-left: 10px;
}
    .boxes-f {
        display: grid;
grid-template-columns: repeat(1, 1fr) !important;
grid-template-rows: repeat(4, 1fr) !important;
}
  .box-f {
 
    transform: translatex(400%)!important; }

 .landing-container,
    .about-container,
     .Screenshot-container,
     .footer-container {
       margin: 20px !important;
    }
     
    .contact-container{
       margin: 35px !important;

    }
    .landing-item h1 .text-change {
    font-size: 3rem;
}
footer .footer-container ul {
  
    width: 77% !important;
}

}

/* pusa class */
.d-none {
    display: none !important;
}

.d-inline {
    display: inline-block !important;
}
.active{
    @include bg-text($r-linear-bg);
    font-weight:bolder
}
input{
        outline: none;
}

.toggle-ul {
    position: absolute;
    top: 5.5rem;
    z-index: 10;
    right: 10%;
    text-align: center;
    flex-direction: column;
    display: flex !important;
    gap: 1px !important;

    li {
    background-color: $light !important;
    padding: 20px 0;
    border-radius:6px ;
box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    transform: rotateX(90deg);
opacity: 0;
   
@for $r from 1 through 6{
    &:nth-child(#{$r}){
        animation: rotateX 400ms  ease forwards;
        animation-delay:$r * 100ms;
    }
}
    a{
 color: $dark !important;
    }  
    }
   
}

.frxed-nav {
    background:#f1f1f1;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    padding: 11px 0 !important;
    transition: 500ms ease all;

    a {
        color: #222 !important;
    }

    .nav-barnd {
        background: $linearn-bg;
        background-clip: text;
        -webkit-text-fill-color: transparent;
     
    }
}
.no-shadow{
               transition: 500ms ease !important;
    box-shadow:none !important;
    margin-top:-15px;
}
@keyframes rotateX {
    to{
transform: rotateX(0deg);
opacity: 1;
    }
}

@keyframes opacity {
    60% {
        opacity: 0;
    }
}
 @for $i from 1 through 6{
        .show-box:nth-child(#{$i}){
    transform: translate(0%,0% ) !important;
            transition:$i * 500ms ease;
        }
    }
   
  
  

// end
@import url("./style.css");
